$dark: #0b090aff;
$dark1: rgb(146, 146, 146);
$dark-red: #660708ff;
$red: #a4161aff;
$primary2: #ba181bff;
$primary3: #e5383bff;
$accent: #b1a7a6ff;
$accent1: #d3d3d3ff;
$accent2: #f5f3f4ff;
$accent3: #ffffffff;